upstream uber_cool_server {
	server 192.168.45.20:1337;
	server 192.168.45.21:1337;
}

server {
	listen 0.0.0.0:80;
	server_name yourdomain.com yourdomain;

	location / {
		proxy_set_header X-Real-IP $remote_addr;
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
		proxy_set_header Host $http_host;
		proxy_set_header X-NginX-Proxy true;

		proxy_pass http://uber_cool_server/;
		proxy_redirect off;
	}
}

